<ul>
  <li>Wunsch 1 :)</li>
</ul>
<!-- <ul>
  <li>Verschlusskappen für meine Trinkblasen</li>
  <li>
    Bügeleisen mit Dampffunktion (Z.B. Philipps Azure elite GC 5037/80, oder
    Braun texstyle 9 Si 9188, oder Russell Hobbs one temperature
  </li>
  <li>Trockner</li>
  <li>
    Hochbeet in Anthrazit in folgenden Abmessungen(), oder Reperatur/Optimierung
    des jetzigen, zB neue Behältnisse, Wasser läuft sofort durch
  </li>
  <li>WOK, Marke Spring, mit Bergkristall-technologie</li>
  <li>Tomatenmesser</li>
  <li>angepasste OhrStöpsel für meine Sennheiser</li>
  <li>Salatbesteck von WMF, Serie Merit</li>
  <li>Puzzle</li>
</ul>

<h2>Nur für Christian und mich</h2>
<ul>
  <li>Dampfgarer</li>
  <li>Etwas zum passieren, zb FLotte Lotte in klein</li>
</ul>
<h2>Nur ganz evtl</h2>
<ul>
  <li>Dampfgarer</li>
  <li>Etwas zum passieren, zb FLotte Lotte in klein</li>
</ul> -->
