<article class="list-wrapper">
  <h1>Caros Weihnachts-Wünsche</h1>

  <ul>
    <li>
      3x Verschlusskappen für meine Trinkblasen (15€/Stück) von
      <a
        href="https://www.ospreyeurope.com/shop/de_de/hydraulics-bite-valve-cover"
        >Ospreyeurope</a
      >
    </li>
    <li>
      Bügeleisen mit Dampffunktion (z.B.
      <a
        href="https://www.philips.de/c-p/GC5037_80/azur-elite-dampfbuegeleisen-mit-optimaltemp-technologie"
        >Philipps Azure elite GC 5037/80 </a
      >(~120€), oder
      <a
        href="https://www.mediamarkt.de/de/product/_braun-texstyle-9-si-9188-e-2463174.html"
        >Braun texstyle 9 Si 9188 </a
      >(~90€), oder
      <a
        href="https://de.russellhobbs.com/produkt/one-temperature-iron-25090-56"
        >Russell Hobbs one temperature </a
      >(~80€))
    </li>
    <li>Trockner</li>
    <li>
      Hochbeet in Anthrazit in folgenden Abmessungen(), oder
      Reperatur/Optimierung des jetzigen, zB neue Behältnisse, Wasser läuft
      sofort durch
    </li>
    <li>
      WOK,
      <a href="https://www.spring-brandshop.eu/Spring-Wokpfanne-28-cm/31105">
        Marke Spring, mit Bergkristall-technologie</a
      >
      (~120€), gibt es auch bei Ortgies in Rahden
    </li>
    <li>Tomatenmesser</li>
    <li>angepasste OhrStöpsel für meine Sennheiser</li>
    <li>
      Salatbesteck von WMF,
      <a href="https://www.wmf.com/de/de/merit-salatbesteck-3201001959.html"
        >Serie Merit</a
      >
      (~85€)
    </li>
    <li>Puzzle</li>
  </ul>

  <h2>Bücher</h2>
  <p>Dürfen gerne auch gebraucht sein :)</p>
  <ul>
    <li>
      Eine Frage der Chemie von Bonnie Garmus (~22€)
      <a href="https://www.thalia.de/shop/home/artikeldetails/A1062299989"
        >z.B. bei Thalia</a
      >
    </li>
    <li>
      Susanna von Alex Capus (~25€)
      <a href="https://www.thalia.de/shop/home/artikeldetails/A1063475161"
        >z.B. bei Thalia</a
      >
    </li>
    <li>
      Lady of Dreams (Band 1) von W R Gingell (~15€)
      <a
        href="https://www.amazon.de/gp/product/0994332599/ref=ox_sc_saved_image_4?smid=A3JWKAKR8XB7XF&psc=1"
        >z.B. bei Amazon</a
      >
    </li>
    <li>
      Näher als du denkst von Elisabeth Musser (~10€)
      <a
        href="https://www.amazon.de/gp/product/3868277080/ref=ox_sc_saved_image_1?smid=&psc=1"
        >z.B. bei Amazon</a
      >
    </li>
    <li>
      The Chosen: Ich habe dich bei deinem Namen gerufen von Jerry B. Jenkins
      (~22€)
      <a
        href="https://www.scm-shop.de/buecher/romane-erzaehlungen/biblische-erzaehlungen-romane/the-chosen-ich-habe-dich-bei-deinem-namen-gerufen.html"
        >z.B. bei SCM</a
      >
    </li>
  </ul>
</article>
<!-- 
    <h2>Nur für Christian und mich</h2>
<ul>
  <li>Dampfgarer</li>
  <li>Etwas zum passieren, zb FLotte Lotte in klein</li>
  <li>Thermoskanne</li>
rebecca Serle- Dinnerlist
Julie Caplin
</ul> -->
