.wrapper {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    farthest-corner at 30vw 20vh,
    #7397a1 1%,
    #3f2c41 100%
  );

  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;

  $s1: "";
  $s2: "";
  $s3: "";
  $s4: "";

  @for $i from 1 to 300 {
    $s1: (
      $s1 +
        calc(random(1000) * 0.1vw) +
        " " +
        calc(random(1000) * 0.1vh) +
        " " +
        0 +
        " " +
        calc(random(50) * -0.01rem) +
        " " +
        #fff
    );
    $s2: $s2 +
      random(1000) *
      0.1vw +
      " " +
      random(1000) *
      0.1vh +
      " " +
      0 +
      " " +
      random(50) *
      -0.01rem +
      #fff;
    $s3: $s3 +
      random(1000) *
      0.1vw +
      " " +
      random(1000) *
      0.1vh +
      " " +
      0 +
      " " +
      random(50) *
      -0.01rem +
      #fff;
    $s4: $s4 +
      random(1000) *
      0.1vw +
      " " +
      random(1000) *
      0.1vh +
      " " +
      0 +
      " " +
      random(50) *
      -0.01rem +
      #fff;
    @if $i <299 {
      $s1: $s1 + ",";
      $s2: $s2 + ",";
      $s3: $s3 + ",";
      $s4: $s4 + ",";
    }
  }

  .snow {
    border-radius: 50%;
    opacity: 0.8;
    position: absolute;
    top: -100vh;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .layer1 {
    width: 1.5rem;
    height: 1.5rem;
    filter: blur(1.5px);
    box-shadow: #{$s1};
    animation-duration: 60s;

    .ab {
      animation-delay: -30s;
    }
  }

  .layer2 {
    width: 1.2rem;
    height: 1.2rem;
    filter: blur(3px);
    box-shadow: #{$s2};
    animation-duration: 80s;

    .ab {
      animation-delay: -40s;
    }
  }

  .layer3 {
    width: 0.8rem;
    height: 0.8rem;
    filter: blur(6px);
    box-shadow: #{$s3};
    animation-duration: 100s;

    .ab {
      animation-delay: -50s;
    }
  }

  .layer4 {
    width: 0.8rem;
    height: 0.8rem;
    filter: blur(6px);
    box-shadow: #{$s4};
    animation-duration: 120s;

    .ab {
      animation-delay: -60s;
    }
  }

  @keyframes fall {
    100% {
      transform: translateY(200vh);
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

snow-button {
  position: absolute;
  bottom: 0;
  right: 0;
}
